
/* body {
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 78%); 
} */
        
body {
    margin: -0.1rem 0 0 0;
    padding: 0;
    height: fit-content;
    background: linear-gradient(90deg, #D0CDCD, #999392, #595757, #32303F);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    }   

    @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}   

.navlink {
    color: #c9c9c9;
}

#SiteMessage{
    color: linear-gradient(90deg, #8E7E36, #F0E68C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
}

.cssref img {
    width: 200px;
    height: auto;
    border-radius: 8px;
}