:root {
    --font: "Inter", sans-serif;
    --size-quote: 95px;
    --dark-background: #03001e;
    --yellow: #feac5e;
    --purple: #c779d0;
    --blue: #4bc0c8;
    --white: #ffffff;
    --violet: #9c6cebf3;
    --light-yellow: #fbd485;
    --pink: #ef629f;
    --light-blue: #20bdff;
    --opacity: 60%;
    --card-background: #26243b;
}

#navigation-class {
    background-color: red;
    color: salmon;
}

#background-main {
    margin: -0.1rem 0 0 0;
    padding: 0;
    background: linear-gradient(90deg, #D0CDCD, #999392, #595757, #32303F);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    height: fit-content;
    }

    @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
